{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- <link rel="stylesheet" href="style/styles.css"> -->

</head>
<body>
<div class="body">
<div class="col-12 smd">
<div class="content">
  <div class="left-side">
  
    <p id="heading" name="usernamehtml">Social Media Dashboard</p>
    <!-- <p id="total-followers">Total Followers: 23,004</p> -->
    <hr id="hr-tag" style="border: 0.2px solid hsl(228, 34%, 66%);">
  </div>

  <div class="right-side">
    <div class="mode">
     <p id="mode">Dark Mode</p>
    </div>
      <div class="toggle-btn">
      <input class="container_toggle" type="checkbox" id="switch" name="mode">
      <label for="switch">Toggle</label>
    </div>
      
    </div>
  </div>
</div>



<div class="whole-container">
  <div class="container-1">


    <div class=" col- third-box  blue-box">
      <span id="id-name" >
        <img src="{% static  'images/icon-instagram.svg' %}"  id="icon" alt="instagram-icon">
        <!-- insta user name plugin goes here -->
        <!-- <p  style="display:inline">@realnathanf</p> -->
        
        <p  style="display:inline" id="username">@{{ usernames }}</p>
     
      </span>  
      <!-- insta no. of followers plugin goes here -->
      <!-- <p id="followers-no">11k</p> -->
      <p id="followers-no">{{ follower }}</p>

      <p id="followers">Followers</p>

      <!-- insta no.of followng plugin goes here -->
      <!-- <p id="followers-no">11k</p> -->
      <p id="followers-no">{{ following }}</p>

      <p id="followers">Following</p> 
      <span class="today" id="up">
      <form method="POST">

        {% csrf_token %}

        enter username: <input type="text" name="usernameee">
        <input type="submit">
      </form>
        <!-- <img src="{% static  'images/icon-up.svg' %}" alt="up-icon"> -->
        <!-- <p style="display:inline">1099 Today</p> -->
      </span>
    </div>

  </div>
</div>



<script src="{% static 'javascript/script.js' %}"></script>


</body>
</html>
