@media screen and (min-width:567px)
{

/* *********************************preloader*********************************88 */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a43f49;
    z-index: 999999;
    }

.spinner {
    width: 40px;
    height: 40px;
    background-color: white;
  
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

/* **************************************body***************************************88 */

body,p,h1{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

a{
    all:unset;

}

li{
    text-decoration: none;
    list-style: none;
}

h1{
    font-size: 2.3vw;
}

h3{
    font-size: 2.5vw;
}

li,p,input,textarea{
    font-size: 1.2vw;
}
button{
    font-size: 1vw;
}
    

body{
    background-image: url("images/page-bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color:white;
    padding:0 4%;
}






/* ***********************************navbar***************************************** */
.hamburger,
.close{
    display:none;
}


.navbar{
    background-color: #a43f49;
    width:23%;
    position: fixed;
    height: 100vh;  
    transition: all 0.5s;    
}


.content, .outer-border { 
    height: 100vh; 
}

.inner-border {
    overflow-y: scroll;
    overflow-x: hidden; 
} 

.inner-border::-webkit-scrollbar { 
    display: none; 
} 


.navitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:21% ;
    transition: all 1s;
    /* margin:0 20px; */
    /* padding-top:67px; */
    /* background-color: aqua; */
}

.navitems-1{
    /* background-color:blue; */
    /* margin-bottom: 16%; */
    padding:0 5.9vw 16% 5.9vw;
    
    border-bottom: 1px solid white;
    /* margin-bottom:50px; */
}


.nav-author-img{
    width:100%;
    /* background-color:violet; */
    margin: 0 auto;
    padding-bottom:14% ;
    /* padding-bottom: 1.8vw; */
}


.author-img{
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}

.nav-details{   
    /* background-color: yellow; */
    text-align: center;
    }

.nav-details-1{
    /* background-color: yellow; */
    font-size: 2vw;
    /* font-size: 1.81vw; */
    font-weight: 700;
    margin-bottom: 0.8vw;
    /* margin-bottom: 10px; */
    
}

.nav-details-2{
    padding:0;
    margin: 0;
    font-size: 1vw;
    /* font-size: 13px; */

}


.navitems-div a{
    /* background-color: yellow; */
    width: 100%;
    padding:1.81vw 0;
    /* padding:25px 0; */
}
.navitems-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



.navitems-div:nth-child(2){
    /* border-top: 0.1vw solid white; */
    border-bottom: 0.1vw solid white;    
}
.navitems-div:nth-child(3){
    border-bottom: 0.1vw solid white;    
}
.navitems-div:nth-child(4){
   /* border-top: 0.1vw solid black; */
    border-bottom: 0.1vw solid white;    
}
.navitems-5{
    border-top: 0.1vw solid white;    

}


.navitems-div:hover {
    cursor: pointer;
    color:#a43f49;
    font-weight: 700;
    background-color: white;
    border-top: 0.1vw solid white;   
}

.navitems-div a:visited{
    color:white;    
}

.navitems-div:hover a:visited{    
    color:#a43f49;
}

.navitems-div{
    /* background-color: yellowgreen; */
    /* border-top: 0.1vw solid white; */
    width:100%;
    font-size: 1.1vw;
    /* font-size: 15px; */
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}



.active-navitems ,
.active-navitems a ,
.active-navitems a:visited{
  color:#a43f49;
    font-weight: 700;
    background-color: white;
    /* border-top: 0.1vw solid white;    */
}

/* 
.active-navitems .navitems-div{
    border-top: 0.1vw solid white;   
} */

.socialmedia-icons{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:4.5vw 5.9vw;
    border-top:1px solid white ;
    /* background-color: aqua; */
    /* padding:60px 0; */
}

.socialmedia-icons i {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:1vw;   
    /* width:15px; */
    background-color: rgba(0,0,0,0.2);
    padding:0.8vw;
    /* padding:0.8vw; */
    margin:0.3vw;
    /* margin:5px; */
    font-size:1.2vw ;
}


.socialmedia-icons a:visited{
color:white;
}

.socialmedia-icons i:hover{
    background-color: rgba(255,255,255);
    color:#a43f49;
    cursor: pointer;
}

/* **********************************info**************************************************** */

.info{
    margin-left: 30%;
    transition: all 1s ;
    /* background-color: red; */
}

/* *****************************************aboutme******************************************************** */
.aboutme{
    padding-bottom: 4.5vw;
    border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    transition: all 0.5s ease;
    /* background-color: aquamarine; */
}

.aboutme-1{
    padding:4.8vw 1.81vw;
    text-align: center;
    display: inline-block;
    /* background-color: violet; */
}

.aboutme-1 h1{
    /* font-size: 30px; */
    padding:0.8vw;
    margin:0 auto;
    width:fit-content;
    /* background-color: yellow; */
    position: relative;
}

.aboutme-1 h1::before{
    content:"";
    position: absolute;
    height:0.25vw;
    /* height:3px; */
    background-color: #a43f49;
    width:50%;
    left:25%;
    bottom:0;
    /* margin: 0 auto; */
}

.aboutme-1 p{
    letter-spacing: 1px;
    padding:0.8vw;
    line-height: 1.81vw;
}

.aboutme-2{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 48% auto;
    margin-bottom: 1.8vw;
    /* margin-bottom: 20px; */
}

.aboutme-2-img{
    border-radius: 5px;
}

.image-right{
    border-radius: 5px;
    display:block;
    width: 100%;
}

.aboutme-2-data{
    /* background-color: yellowgreen; */
    padding:0 2.3vw;
}

.aboutme-2-data h1{
    font-size: 1.9vw;
    /* font-size: 26px; */
    letter-spacing: 1px;
    margin: 1.8vw 0 0.8vw 0;
    /* background-color: yellow; */
}

.aboutme-2-data p{
    padding:0.8vw 0;
    /* background-color: aqua; */
    line-height: 1.8vw;
    /* line-height: 27px; */
}

#resume{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 900;

    color:#a43f49;
    letter-spacing: 1px;
    background-color: white;
    
    margin:0.8vw 0 0 0;
    padding:0.8vw;
    width:35%;
    height:15%;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    position: relative;
}

#resume:hover{
    background-color: #a43f49;
    color:white;
    cursor: pointer;
}
/* **************************************goodat************************************************************** */
.goodat{
    /* background-color: aqua; */
    border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    padding:4.3vw 0; 
    transition: all 0.5s ease;
}

.goodat-1{
text-align: center;
}

.goodat-1 h1{
    width: fit-content;
    margin: 0 auto;
    padding: 0.8vw;
    position: relative;
    /* background-color: yellow; */
}

.goodat-1 h1::before{
    content: "";
    position: absolute;
    bottom:0;
    background-color: #a43f49;
    height:0.25vw;
    width: 30%;
    left:35%;
    visibility:visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
}

.goodat-1 p{
    padding:2.3vw;
    /* background-color: yellowgreen; */
}

.goodat-2{
    /* background-color: violet; */
    margin-top: 1.8vw ;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 0.8vw;
}

.box{
    padding:4vw;
    /* padding:50px; */
    background-color:rgba(255,255,255,0.1);
    transition: all .5s ease;
}

.box h1{
    /* font-size:2vw ; */
    font-size: 2.3vw;
    padding-bottom: 1.8vw;
}

.box p{
    padding-bottom: 1.8vw;
    line-height: 1.8vw;
    letter-spacing: 1px;
}
.box:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}

/* *********************************mywork************************************************************ */
.mywork{
    padding:4.5vw 0 2.2vw 0;
    border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    transition: all 0.5s ease;
}

.mywork-1{
text-align: center;
}


.mywork-1 h1{
    padding: 0.8vw 0;
    position: relative;
    /* background-color: yellow; */
    width: fit-content;
    margin: 0 auto;
}

.mywork-1 h1::before{
    content:"";
    position: absolute;
    bottom:0;
    height:0.25vw;
    background-color: #a43f49;
    width:50%;
    left:27%;
}


.mywork-1 p{
    padding:1.8vw;
    /* background-color: yellowgreen; */
}


.mywork-2{
    /* background-color:violet; */
    padding:1.8vw;
}

.links{
    text-align: center;
}

.links li{
    color:white;
    margin:0.8vw;
    padding:0.4vw 0;
    /* padding:5px 0; */
}

.links .active{
    color:#a43f49;
    cursor: pointer;
    border-bottom: 0.1vw solid #a43f49;   
}

.links li:hover{
    cursor:pointer;
}

.links li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
 
}

.images{
    margin:2.3vw 0;
    display: grid;
    grid-gap: 4vw 0.8vw;
    grid-template-columns: 50% 50%;
}


.itembox{
    /* margin:4vw 0; */
    padding-bottom: 4vw;
    /* padding:50px 0; */
    border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    /* transition: all 0.3s ; */
}


.mywork-images{
    max-width:100%;
    border-radius: 5px;
}


.card{
    position: relative;
}

.cardcontent{
    position: absolute;
    top:0;
    right:0px;
    bottom:4vw;
    left:0px;
    /* height:65%;     */
    /* background-color: rgba(255,255,255,0.8); */
    transition: transform 0.3s ease-in;
    transform-style: preserve-3d;
    transform:rotateX(-0.25turn);
    /* transform:rotateX(-0turn); */

}



.card:hover .cardcontent{
    transform: rotateX(0turn);
}

.cardfront{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:1.8vw;
    transform-style: preserve-3d;    
    background-color: rgba(255,255,255,0.8);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow: hidden; */
    /* backface-visibility: hidden; */
}

.cardtitle{
    margin: 0.8vw 0; 
    transform: translateZ(3rem);
    color:black;
}

.cardsubtitle{
    color:gray;
    transform: translateZ(3rem);
}



.cardbody{
    transform: translateZ(1rem);
}





/* *********************************contact****************************************************** */
.contactme{
    padding:4.5vw 0 1vw 0;
    transition: all 0.5s ease;
}

.contactme-1{
    text-align: center;
}
    
    
.contactme-1 h1{
    padding: 0.8vw 0;
    margin:0 auto;
    width: fit-content;
    position: relative;
    /* background-color: yellow; */
}

.contactme-1 h1::before{
    content:"";
    position: absolute;
    bottom:0;
    background-color: #a43f49;
    height:0.25vw;
    width:40%;
    left:27%;
}


.contactme-1 p{
    padding:1.8vw;
    /* background-color: yellowgreen; */
}


.contactme-2{
    /* background-color:violet; */
    padding:4vw 0 1.8vw 0;
}

form input,
textarea{
    background-color:rgba(255,255,255,0.1);
    border:1px solid white;
    outline:0;
    color:rgba(255,255,255,0.3);
    padding:0.8vw;
    margin-bottom:1.8vw;
    font-family: 'Lato', sans-serif;
    /* text-align:lef;     */
}

form input:focus
,textarea:focus{
    background-color:rgba(255,255,255,0.1);
    border:1px solid white;
    outline:0;
    color:rgba(255,255,255);
    padding:0.8vw;
    margin-bottom:1.8vw;
    font-family: 'Lato', sans-serif;
    /* text-align:lef;     */
}


.name{
    width:45%;
    float: left;
    margin-right: 2.35%;
}

.email{
    float: left;
    width:45%;
}

.subject{
    width:95%;
}

.message{
  width:95%;  
}

#sendmessage{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color:#a43f49;
    letter-spacing: 1px;
    background-color: white;
    /* margin:0.8vw auto; */
    padding:0.8vw;
    height:15%;
    border: none;
    outline: none;
    transition: all 0.5s ease-out;
}
#sendmessage:hover{
    background-color: #a43f49;
    color:white;

    cursor: pointer;
}


.button-class{
    text-align: center;
}

}






@media screen and (max-width:568px)
{
/* *********************************preloader*********************************88 */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a43f49;
    z-index: 999999;
    }

.spinner {
    width: 40px;
    height: 40px;
    background-color: white;
  
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

/* **************************************body***************************************88 */

body,p,h1{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

a{
    all:unset;
}

li{
    text-decoration: none;
    list-style: none;
}
h1{
    font-size: 6vw;
}

h3{
    font-size: 5.5vw;
}


li,p,input,textarea{
    font-size: 3vw;
}

button{
    font-size: 3vw;
}
    

body{
    background-image: url("images/page-bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color:white;
    padding:2vw 5%;
}




/* ***********************************navbar***************************************** */
.hamburger{
    position: fixed;
    top:0;
    left:0;
    background-color: white;
    padding:4vw;
    z-index: 2;
    /* font-size: 4vw; */
    width: fit-content;
    color:#a43f49;
}

.close{
    background-color: white;
    width: 100%;
    text-align: center;
    padding:7% 20px ;
    color:#a43f49
}

.navbar{
    background-color: #a43f49;
    width:60%;
    position: fixed;
    height: 100vh;  
    transition: all 0.5s;
    top:0;
    /* left:0;  */
    left:-100%;
    z-index: 2;   
}

.content, .outer-border { 
    height: 100vh;
    /* background-color: red;  */
}

.inner-border {
    overflow-y: scroll;
    overflow-x: hidden; 
} 

.inner-border::-webkit-scrollbar { 
    display: none; 
} 


.navitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top:10% ; */
    transition: all 1s;
    margin:0 4vw;
    /* padding-top:67px; */
    /* background-color: aqua; */
}

.navitems-1{
    /* background-color:blue; */
    /* margin-bottom: 16%; */
    padding:15% 0 ;
    width: 100%;
    border-bottom: 1px solid white;
    /* margin-bottom:50px; */
}


.nav-author-img{
    max-width:100%;
    /* background-color:violet; */
    margin: 5vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding-bottom:14% ; */
    /* padding-bottom: 1.8vw; */
}


.author-img{
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}

.nav-details{   
    /* background-color: yellow; */
    text-align: center;
    }

.nav-details-1{
    /* background-color: yellow; */
    font-size: 5.3vw;
    /* font-size: 1.81vw; */
    font-weight: 700;
    margin-bottom: 0.8vw;
    /* margin-bottom: 10px; */
    
}

.nav-details-2{
    padding:0;
    margin: 0;
    /* font-size: 1vw; */
    font-size: 3vw;

}

.navitems-div{
    
    /* background-color: yellowgreen; */
    /* border-top: 0.1vw solid white; */
    /* background-color: seagreen; */
    /* margin:0 20px; */
    width:100%;
    font-size: 1.1vw;
    /* font-size: 15px; */
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}


.navitems-div a{
    /* margin:0 30px; */
    /* background-color: yellow; */
    width: 100%;
    padding:4vw 0;
    /* padding:25px 0; */
}



.navitems-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



.navitems-div:nth-child(2){
    /* border-top: 0.1vw solid white; */
    border-bottom: 1px solid  white;    
}
.navitems-div:nth-child(3){
    /* background-color: turquoise; */
    border-bottom: 1px solid white;    
}
.navitems-div:nth-child(4){
    /* border-top: ; */
    border-bottom: 1px solid white;    
}

.navitems-div:nth-child(5){
    border-bottom: 1px solid white;    
}



.navitems-div:hover {
    cursor: pointer;
    color:#a43f49;
    font-weight: 700;
    background-color: white;
    border-top: 0.1vw solid white;   
}

.navitems-div a:visited{
    color:white;    
}

.navitems-div:hover a:visited{    
    color:#a43f49;
}




.active-navitems ,
.active-navitems a ,
.active-navitems a:visited{
  color:#a43f49;
    font-weight: 700;
    background-color: white;
    /* border-top: 0.1vw solid white;    */
}

/* 
.active-navitems .navitems-div{
    border-top: 0.1vw solid white;   
} */

.socialmedia-icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:15vw 0;
    border-top:1px solid white ;
    /* background-color: black; */
    /* padding:60px 0; */
}

.socialmedia-icons i {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width:1vw;    */
    width:3vw;
    /* background-color: yellow; */
    background-color: rgba(0,0,0,0.2);
    /* padding:10px; */
    padding:2vw;
    margin:0.3vw;
    /* margin:5px; */
    font-size:5vw ;
}


.socialmedia-icons a:visited{
color:white;
}

.socialmedia-icons i:hover{
    background-color: rgba(255,255,255);
    color:#a43f49;
    cursor: pointer;
}

/* **********************************info**************************************************** */

.info{
    /* margin-left: 30%; */
    transition: all 1s ;
    /* background-color: red; */
}

/* *****************************************aboutme******************************************************** */
.aboutme{
    padding-bottom: 9vw;
    border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    transition: all 0.5s ease;
    /* background-color: aquamarine; */
}

.aboutme-1{
    padding:12vw 1.81vw;
    text-align: center;
    display: inline-block;
    /* background-color: violet; */
}



.aboutme-2{
    /* background-color: aqua; */
    display: grid;                                                                                                                             
    grid-template-columns: auto; /* mobile  */
    margin-bottom: 1.8vw;
    /* margin-bottom: 20px; */


    /* mobile */
    /* text-align: center; */
}

.aboutme-2-img{
    border-radius: 10px;
}

.image-right{
    border-radius: 5px;
    display:block;
    width: 100%;
}

.aboutme-2-data{
    /* background-color: yellowgreen; */
    padding:4vw 0;
}

.aboutme-2-data h1{
    font-size: 6vw;
    margin: 3vw 0 ;
    /* background-color: yellow; */
}

.aboutme-2-data p{
    margin:3vw 0;
    /* background-color: aqua; */
    line-height: 6vw;  
}


/* **************************************goodat************************************************************** */
.goodat{
    /* background-color: aqua; */
    border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    padding:12vw 0 15vw 0; 
    transition: all 0.5s ease;
}

.goodat-1{
    text-align: center;
}


.goodat-2{
    /* background-color: violet; */
    margin-top: 1.8vw ;
    display: grid;
    grid-template-columns: auto ;                                          /*mobile*/
    grid-gap: 2vw;
}

.box{
    padding:8vw;
    /* padding:50px; */
    background-color:rgba(255,255,255,0.1);
    transition: all .5s ease;
}

.box h1{
    /* font-size:2vw ; */
    /* font-size: 2.3vw; */
    font-weight: 700;
    padding-bottom: 1.8vw;
}

.box p{
    text-align: left;
    /* padding-bottom: 1.8vw; */
    line-height: 5vw;
    letter-spacing: 1px;
    
}
.box:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}

/* *********************************mywork************************************************************ */
.mywork{
    padding:4.5vw 0 15vw ;
    border-bottom: 3px solid rgba(255,255,255,0.4);
    transition: all 0.5s ease;
    /* background-color: yellowgreen; */
}

.mywork-1{
text-align: center;
/* background-color: turquoise; */
}

.mywork-2{
    /* background-color:violet; */
    padding:1.8vw;
}

.links{
    /* background-color: yellowgreen; */
    text-align: center;
    padding-bottom: 25px;
}

.links li{
    /* background-color: yellow; */
    color:white;
    margin:1vw;
    /* padding:0.4vw 0; */
    padding:5px 0;
}

.links .active{
    color:#a43f49;
    cursor: pointer;
    border-bottom: 2px solid #a43f49;   
}

.links li:hover{
    cursor:pointer;
}

.links li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
 
}

.images{
    margin:3vw 0;
    display: grid;                    /*mobile*/
    grid-gap: 10vw 0.8vw;                /*mobile*/
    /* grid-template-columns: 50% ; */          /*mobile*/
}


.itembox img{
    display: block;
}


.mywork-images{
    max-width:100%;
    border-radius: 5px;
}


.card{
    position: relative;
}

.cardcontent{
    position: absolute;
    top:0;
    right:0px;
    bottom:0vw;
    left:0px;
    /* height:65%;     */
    /* background-color: rgba(255,255,255,0.8); */
    transition: transform 0.3s ease-in;
    transform-style: preserve-3d;
    transform:rotateX(-0.25turn);
    /* transform:rotateX(-0turn); */

}



.card:hover .cardcontent{
    transform: rotateX(0turn);
}

.cardfront{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:4vw;
    transform-style: preserve-3d;    
    background-color: rgba(255,255,255,0.8);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow: hidden; */
    /* backface-visibility: hidden; */
}

.cardtitle{

    /* background-color: aqua; */
    margin: 0.8vw 0 3vw; 
    transform: translateZ(3rem);
    color:black;
}

.cardsubtitle{
    color:gray;
    transform: translateZ(3rem);
}



.cardbody{
    transform: translateZ(1rem);
}

/* *********************************contact****************************************************** */
.contactme{
    /* background-color: yellow; */
    padding:12vw 0 1vw 0;
    transition: all 0.5s ease;
}

.contactme-1{
    text-align: center;
}

form input,
textarea{
    background-color:rgba(255,255,255,0.1);
    border:1px solid white;
    outline:0;
    color:rgba(255,255,255,0.3);
    padding:2vw 0 2vw 2vw;
    width: 97%;
    margin-bottom:5vw;
    font-family: 'Lato', sans-serif;
}

form input:focus
,textarea:focus{
    color:rgba(255,255,255);
   
}

.button-class{
    text-align: center;
}



.aboutme-1 p,
.goodat-1 p, 
.mywork-1 p, 
.contactme-1 p{
    letter-spacing: 1px;
    text-align: center;
    line-height: 5vw ;
    /* background-color: yellowgreen; */
 
}

.aboutme-1 p{
    margin:2vw 8vw  2vw;
}


.goodat-1 p{
    margin:2vw 8vw  14vw;
}


.mywork-1 p{
    margin:2vw 8vw  10vw;
}

.contactme-1 p{
    margin:2vw 8vw 10vw;   
}


.aboutme-1 h1,
.contactme-1 h1,
.goodat-1 h1,
.mywork-1 h1{
    padding:2vw 0;   
    margin:0 auto;
    width:fit-content;
    position: relative;
    /* background-color: yellow; */
}

.aboutme-1 h1::before,
.mywork-1 h1::before,
.goodat-1 h1::before,
.contactme-1 h1::before{
    content:"";
    position: absolute;
    height:3px;
    bottom:0;
    /* background-color: #a43f49; */
}

.aboutme-1 h1::before{
    width:40%;
    left:27%;
}

.mywork-1 h1::before{
    width:50%;
    left:27%;
}

.goodat-1 h1::before{
    width: 30%;
    left:35%;
}

.contactme-1 h1::before{
    width:40%;
    left:27%;
}


#resume{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color:#a43f49;
    letter-spacing: 1px;
    background-color: white;
    padding:2.5vw;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    width:25%;

}

#resume:hover,
#sendmessage:hover {
    background-color: #a43f49;
    color:white;
    cursor: pointer;
}


#sendmessage{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color:#a43f49;
    letter-spacing: 1px;
    background-color: white;
    padding:2.5vw;
    border: none;
    outline: none;
    transition: all 0.5s ease;
       
}

}