{% extends 'base.html' %}
{% block content %}

{% if category_post %}
<h1>{{cats}}</h1>
<ul>
{% for post in category_post %}
<li><a href="{% url 'article' post.pk %}">  {{post.title}}</a>  - {{post.author.first_name}} {{post.author.last_name}} 
    {{post.post_date}}
    
{% if user.is_authenticated %}

    -<small><a href="{%url 'updatepost' post.pk %}">Edit</a></small>
    <small><a href="{%url 'deletepost' post.pk %}">Delete</a></small> 
    
{% endif %}
<br/>
{{post.body|slice:":200"|safe }}</li>

{% endfor %}
</ul>
{% else %}
<h2>Sorry this page does not exist</h2>
{% endif %}
{% endblock %}

