@media screen and (min-width:426px)
{

    body,p,div{
        margin:0;
        padding:0;
    }
    body{
        font-family: 'Josefin Sans', sans-serif;
    }
    

    a{
        text-decoration: none;
    }

    .caps{
        text-transform: uppercase;
    }

    .topsection{
        background-image: url("images/desktop/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
/*         background-color: aqua; */
        padding:4vw 4vw 8.6vw 10vw;
        position: relative;
    }
    .navbar-toprow{
        display: none;
    }    
    .navbaritems{
        display: inline;
    }    
    .logorow{
        display: inline;
    }

    .navbar-links{
        position: absolute;
        top:67px;
        right:100px;
        /* background-color: aqua; */
    }

    .navbar-links a{
        color:hsl(0, 0%, 100%);
        padding:1.2vw 1.2vw 1.2vw 1.4vw;
        
        font-size: 1.4vw;
        /* font-size: 15px; */
        font-weight: 800;
    }

    a.topmiddle{
        position: relative;
    }

    a.topmiddle::before{
        content:"";
        position: absolute;
        width:35%;
        height:2px;
        bottom:0;
        left:40%;
        background-color: white;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in;

    }

    a.topmiddle:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }


    .heading{
        margin-top:140px;
        padding: 30px;
        color:white;
        width:50%;
        font-size: 5.1vw;
        /* font-size: 70px; */
        /* line-height: 40px; */
        border: 1px solid white ;
    }
    
    .container{
        margin:100px 100px 100px 150px;
        /* background-color: aqua; */
    }

    .middlesection{
        margin-bottom:100px;
        position: relative;
        /* background-color: aqua; */
    }

    .middlesection1{
        z-index: 1;
        top:36%;
        /* top:179px; */
        right:0;
        position: absolute;
        width:40%;
        padding:6.5vw 0 0 6.5vw;
        /* padding:90px 0px 0px 90px; */
        background-color:white;
    }

    .interactiveimg{
        max-width: 65%;
        height:auto;
        display: block;
    }

    .sectionheading{
        font-size:3.3vw ;
        /* font-size: 45px; */
        padding-bottom: 20px;
    }

    .sectionpara{
        font-family: 'Alata', sans-serif;
        font-size: 1.1vw;
        /* font-size: 15px; */
        color:hsl(0, 0%, 55%);
        line-height: 2.2vw;
        /* line-height: 30px; */
        text-align: left;
        
    }

    .ourcreationsbox{
        display: flex;
        padding:60px 0 60px 0;
    }

    .ourcreations{
        font-size:3.5vw ;
        /* font-size: 45px; */
        /* background-color: aqua; */
        width:85%;

    }

    .seeall{
        font-size: 1.5vw;
        /* font-size: 15px; */
        font-family: 'Alata', sans-serif;
        background-color: white;
        padding:1vw 1vw 1vw 1.vw;
        /* padding:10px 20px 10px 20px; */
        color:black;
        border: 1px solid black;
        outline: none;
        letter-spacing: 5px;
        float: none;
        width: 15%;
    }

    .seeall:hover{
        color:white;
        background-color: black;
        cursor: pointer;
        transition: all 0.3s ease-in-out;    
    }

    .imagegrids{
        margin-bottom:100px;
        /* background-color: blue; */
        display: grid;
        grid-gap:25px 25px;
        grid-template-columns: auto auto auto auto;
    }

    .griditems{
        color: white;
        text-align: left;
        position: relative;
        background: rgba(0, 0, 0, 0.3);
    }

    .griditems::after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        z-index: 50;
        transition:all 0.3s ease;
    }



    .griditems:hover::after{ 
        display: block;
        width: 100%;
        height: 100%;
        /* opacity:0.6; */
        background-color: rgba(255, 255, 255, 0.6);
    }

    .griditems:hover {
        color: hsl(0, 0%, 0%);
        cursor: pointer;
    }

    .gridimages{
        display: block;
        max-width: 100%;
        height:auto;
    }

    .caption{
        padding:0 0 2vw 2vw;
        /* padding:0 50px 40px 40px; */
        font-size: 2.4vw;
        /* font-size: 30px; */
        position: absolute;
        bottom:0px;
        z-index: 100;
    }

    /* .griditems:nth-child(4) .caption{ */
        /* padding:0 80px 40px 40px; */
    /* } */


    footer{
        display: flex;
        flex-direction: row;
        padding:70px 100px 70px 150px;
    }

    footer ,footer a, footer p{
        color:white;
        background-color: black;
    }


    .firstcolumn , .secondcolumn{
        display: flex;
        flex-direction: column;
        /* padding-top:30px; */
    
    }
    .firstcolumn{
        /* background-color: blue; */
        width: 50%;
    }

    
    .logo{
        max-width: 80%;
        /* background-color: aqua; */
    }

    .divlogo{
        display: block;
        /* width: 69vw; */
        /* background-color: aqua; */
        padding-bottom:20px;
    }

    
    .footerlinks{
        padding-top:35px;
        /* background-color: violet; */
        /* width:75%; */
    }

    .footerlinks a{
        margin-right:1.6vw;
        padding-bottom: 10px;
        font-size: 1.4vw;
    }

    .secondcolumn{
        /* background-color: yellowgreen; */
        width: 50%;
        align-items: flex-end;
        justify-content: end;

    }

    .socialmedia{
        /* width: 100%; */
        padding-bottom:19px ;
        /* background-color:aqua; */
    }
    .socialmedia img{
        /* padding:0.4vw; */
        padding-right: 10px;
        max-width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    .footercopyright{
        /* width: 100%; */
        /* background-color: whitesmoke; */
        padding-top:35px;
        text-align: left;
        font-size: 1.4vw;
        /* font-size: 15px; */
    }

    .bottommiddle{
        position: relative;
    }

    a.bottommiddle::before{
        position: absolute;
        content:"";
        width:30%;
        height:2px;
        bottom:0;
        left:30%;
        background-color: white;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in;
    }

    a.bottommiddle:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    .mobile-images, #hamburger{
        display: none;
    }





}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:425px)
{
body {
    font-family: 'Josefin Sans', sans-serif;
}
body,p,div{
    margin:0px;
    padding:0px;
    }
img{
     display: block;
     max-width: 100%;
     height:auto;
    }
a{
        text-decoration: none;
}
.desktop-images{
    display: none;
}
.caps{
        text-transform: uppercase;
    }



.topsection{
    position: relative;
    background-image: url("images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    padding:40px 25px 40px 25px;
    position: relative; 
    }

.logorow{
    position: relative;
}

#logo{
    max-width: 40%;
}

#hamburger{
    position: absolute;
    top:4px;
    right:0px;
}
.navbaritems{
    position: absolute;
    width: 100%;
    height:170vh;
    top:0;
    /* left:0; */
    left:-100%;
    background-color: black;
    transition: all 0.3s ease-in-out ;
}

.navbarlogo{
    position: absolute;
    top:40px;
    left:25px;
    width:35%;
}
#closeicon{
    position: absolute;
    top:44px;
    right:25px;
}

.navbar-links{
    position: absolute;
    top:190px;
    left:25px;
    display: flex;
    flex-direction: column;
}

.navbar-links a{
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-size: 8vw;
    padding:10px 10px 10px 0;    
}





.heading{
    color:white;
    max-width:100%;
    padding:5vw;
    /* padding: 20px; */
    margin:190px 0px 190px 0px;
    font-size: 11.1vw;
    /* font-size: 45px; */
    border: 1px solid white ;
}

.container{
    margin:0 5vw 0 5vw;
}

.middlesection{
    margin:70px 0px 20px 0px;
    text-align: center;
    
}
.middlesection1{
    padding: 9.4vw 9vw;
    /* padding:40px 30px 50px 30px; */
}

.sectionheading{
    font-size:8vw ;
    font-weight: 500;
    /* font-size: 30px; */
    padding: 8px;
}

.sectionpara{
    padding:4vw;
    /* padding:15px; */
    font-family: 'Alata', sans-serif;
    font-size: 3.4vw;
    /* font-size: 15px; */
    color:hsl(0, 0%, 55%);
    line-height: 8vw;
    /* line-height: 25px; */

}
.ourcreationsbox{

    font-weight: 500;
    font-size: 8vw;
    /* font-size: 30px; */
    padding:7vw 0 7vw 0;
    text-align: center;
}

.desktopseeall{
    display: none;
}
.griditems{
    color: white;
    position: relative;
    margin-bottom: 20px;
}

.griditems::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
    transition:all 0.3s ease;
    background-image:linear-gradient(to right, rgba(0,0,0, 0.6),rgba(255,255,255,0));
    display: block;
    width: 100%;
    height: 100%;
    color: white;
     
}

.caption{
    color:white;
    position: absolute;
    bottom:20px;
    left:20px;
    font-size: 6vw;
    /* font-size: 22px; */
    z-index: 100;
}

.buttonclass{
    margin:10vw 0 20vw 0;
    /* margin: 40px 0 60px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.seeall{
    font-size: 4vw;
    /* font-size: 1 5px; */
    font-family: 'Alata', sans-serif;
    background-color: white;
    padding:2.4vw 6.2vw 2.4vw 6.2vw;
    /* padding:8px 30px 8px 30px; */
    color:black;
    border: 1px solid black;
    outline: none;
    letter-spacing: 5px;
    float: none;
}

.seeall:hover{
    color:white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;    
}

footer{
    background-color: black;
    padding:4vw;
    /* padding:20px; */
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a{
    font-size: 5.2vw;
    color:white;
    display: block;
}

.firstcolumn,.secondcolumn,.divlogo, .footerlinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divlogo{
    padding:6.2vw;
    /* padding:30px; */
}
.logo{
    max-width: 100%;
    height: auto;
}
.footerlinks{
    padding:2vw;
    /* padding:10px; */
}
.footerlinks a{
    padding:4vw;
    /* padding:15px; */
    font-weight: 900;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    /* align-items:stretch; */
    justify-content: center;
    padding:4vw;
}

.socialmedia img{
    max-width:100%;
    
    padding:0px 2vw 0px 2vw;
    /* padding:0px 10px 0px 10px; */
}

.footercopyright{
    font-size: 3.9vw;
    
    padding:2vw 4vw 5vw 4vw;
    /* padding:10px 20px 30px 20px; */
    color:hsl(0, 0%, 55%);
    font-weight: bold;
}

}
