body{
    font-family: 'Be Vietnam', sans-serif;
}

body ,p ,li, a ,h1, h2, h3, h4, h5{
    padding:0;
    margin:0;
}
li{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}
a{
    text-decoration: none;
}

@media screen and (max-width:425px){

}