@media screen and (max-width:425px){

#mobile-hidden-get-started-btn,
#navbar,
#mobile-hidden-illustration,
#mobile-hidden-copyright,
.mobile-hidden-socialmedia-icons-div{

    display:none;

}

body{
    position: relative;
}

#navbar{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0), rgba(0, 0, 0,1));
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding:26% 0;

}

.navitems{
    background-color: #fff;
    width:90%;
    margin:0 auto;
    height:60vw;
    text-align: center;
    padding:10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navitems-list {
    font-size: 4.4vw;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin:4% 0;
}


.hamburger-close{
    width:7%;
    z-index: 11;
}


#hamburger{
    display:block;
}

#close{
    display: none;
}

.mobile-upper-background-image{
    background-image: url("images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size:116% 58%;
    background-position: -104% -28%;
}

.mobile-lower-background-image{
    background-image: url("images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size:81% 15%;
    background-position: 343% 24%;
}



.get-started-btn{
    border:none;
    font-weight: 600;
    outline: none;
    background-color: hsl(12, 88%, 59%);
    padding:3% 8.5%;
    font-size: 3.5vw;
    width:fit-content;
    border-radius: 6vw;
    box-shadow: 0 2px 10px hsl(12, 88%, 59%);
    letter-spacing: 0.5px;

}
.bring-everyone{
    font-size: 10vw;
    line-height: 1.2;
}

.whats-diferent-about-manage,
.what-they-have-said{
    font-size:9vw;
}

.first-row .details p,
.second-row .details-left p,
.number-box p{
 font-size:4.2vw;   
 line-height: 1.7;
}

.first-row,
.second-row .details-left,
.third-row,
.fourth-row{
    text-align: center;
    width: 100%;
}


.header,
.first-row,
.second-row .details-left{
    width:85%;
    margin-right:auto;
    margin-left:auto;
}


.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 9%;
    padding-bottom: 10%;
}

.header-logo{
    width:40%;
}

.details p{
    margin:4vw 0 8vw 0;
}

.details-left{
    margin:20vw 0;
}
.second-row .details-left p{
    margin:6vw 0;
}

.difference{
    position: relative;
    margin-bottom: 17vw;
}

.number{
    background-color: hsl(12, 88%, 59%);
    position: absolute;
    z-index: 1;
    padding:1.5% 6%;
    border-radius: 7vw;
    font-weight: 600;
    font-size: 4.2vw;
}

.number-box h4{
    font-size: 4.5vw;
    padding:1.5% 0 1.5% 21%;
    background-color: #FFF0EC;
    border-radius: 7vw 0 0 7vw;
}

.testimonials-part{
    text-align: center;
    margin:0.3% 0.1% 0.15% 0.1%;
}

.people{
    padding:18% 0 8% 0;
    background-color: hsl(0, 0%, 98%);
    width:101vw;
    position: relative;
}


.people-name{
    font-size: 4.5vw;
}

.people-comment{
    width:80%;
    text-align: center;
    padding-top: 4vw;
    margin:0 auto;
    font-size: 3.9vw;
    line-height:1.7;
}

.div-people-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.people-image{
    height:30%;
    max-width: 100%;
    position: absolute;    
    top:calc(-30%/2);    
}

.testimonials-get-started-btn{
    margin:14vw 0 12vw 0 ;
}


.fourth-row{
    background-image: url("images/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position:0 55px;
    background-size:23% 74%;
    background-color: hsl(12, 88%, 59%);

}

.fourth-row-content{
    padding:23% 5%;
    text-align: center;

}

.fourth-row h3{
    color:#fff;
    font-size: 11vw;
    margin-bottom: 10%;
}
.fourth-row .get-started-btn{
    background-color: #fff;
    color:hsl(12, 88%, 59%);
}


.footer-content{
    display:flex;
    flex-direction: column-reverse;
    /* width:100%; */
    justify-content: center;
    padding:9%;
}


.footer-first-column{
    display:flex;
    flex-direction: column-reverse;
    width:100%;
    justify-content: center;
    align-items: center;
}



.footer-links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    width:80%;
    margin:13vw auto;

}

.footer-second-column,
.footer-third-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-second-column li,
.footer-third-column li{
    padding-bottom:4vw ;
    font-size: 4vw;
 }


.logo-socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.desktop-hidden-socialmedia-icons-div{
    width: 20%;
    text-align: center;
}

.desktop-hidden-socialmedia-icons-div img{
    width: 50%;
}



.inputfield-submit-btn-errormsg{
    margin: 10vw auto 0 auto;
    padding-bottom: 6vw;
    width: 100%;
    position: relative;

}
.inputfield-submit-btn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#email-errormsg{
    position: absolute;
    bottom: 0;
    color:hsl(12, 88%, 59%);
    font-size: 3vw;
    margin:0  3.5%;
    display: none;
    font-style: italic;
}


.submit-btn{
    border:none;
    font-weight: 600;
    outline: none;
    background-color: hsl(12, 88%, 59%);
    padding:3.5% 7%;
    font-size: 3.5vw;
    border-radius: 8vw;        
}

.submit-btn:hover{
    background-color: hsl(12, 85%, 74%);
}

.inputfield,
.inputfield:focus,
.inputfield:active{
    outline: none;
    border:none;
    color:hsl(12, 88%, 59%);
    background-color: hsl(0, 0%, 100%);
    padding:3.5% 5.1%;
    border-radius: 8vw;     
    font-weight:500;
    font-size: 3.5vw;
    width:50vw;
}

.inputfield::placeholder{
    display:flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    font-size: 4vw;
}

.footer-logo{
    margin:10vw;
    width:50%;
}

.attribution{
    text-align: center;
    font-size: 3vw;
}

}