// $body-bg:hsl(0, 0%, 98%);
// $listitem-clr:#fff;
// $lightgray:hsl(235, 19%, 35%);
// $darkgray:hsl(233, 11%, 84%);
// $blue:hsl(220, 98%, 61%);
// $white:#fff;
// $bg-img:url(images/bg-desktop-light.jpg);




$body-bg:hsl(235, 21%, 11%);
$listitem-clr:hsl(235, 24%, 19%);
$lightgray:hsl(234, 39%, 85%);  
$darkgray:hsl(234, 11%, 52%);
$blue:hsl(220, 98%, 61%);
$white:#fff;
$bg-img:url(images/bg-desktop-dark.jpg);


.themechange{
    #moon{
        display:block;
    }
    #sun{
        display:none;
    }
    #bg-change{
        background-image:url(images/bg-desktop-light.jpg);
        background-color: red;    
    }
}

.change{
    background-color: red;
}



#bg-change{
    background-color: $body-bg;    
    background-image:$bg-img;
    background-repeat: no-repeat;
    background-size: contain;    
}

.input-item,
.item,
.lastitem,
#input,
#check-btn{
    background-color: $listitem-clr;
}

.input-item,
.item,
#input,
.grouped .footerlinks:hover,
#clearcompleted:hover{
    color: $lightgray;
}


.item:hover #check-btn{
    border:1px solid $lightgray;
}

.completed #check-btn{
    background-color: $blue;
} 


.footer, .footerlinks,
#input::placeholder,
.lastitem,
.completed{
    color: $darkgray;
}


#check-btn{
    border: 1px solid $darkgray;
}
header{
    h1{
        color: $white;
    }
}        

#listofitems{
    .item{
        border-bottom: .5px solid $darkgray;    
    }
}








*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}


img{
    max-width: 100%;
    height:auto;
}


@media only screen and (min-width: 376px)
{

#submit-btn,
#moon,
#cross-img{
    display: none;
}

 
    






.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:38%;
    margin:0 auto;
    line-height: 1.2;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding:14% 0 10% 0;

    h1{
        // color: $white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 15px;
    }
}

.input-item,
.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding:4% 0;       
}

.item{
    display:none;
    p{
        font-size: 1rem;
        width:80%;
    }
    &:hover #cross-img{
        display:block;
    }
        
}

.input-item{
    border-radius: 5px;
}

#check-btn{
    border-radius: 50%;
    outline:none;
    width:1.5vw;
    height:1.5vw;
    margin:0 4%;
}


#input{
    outline:none;
    border:none;   
    font-size:1rem ;
    width:80%;
    font-weight: 400;   
}



#listofitems{
    display: grid;
    grid-template-columns: auto ;
    margin-top: 5%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    .item{
        // border-bottom: .5px solid $darkgray;    
    }

}




#check-img{
    visibility: hidden;
}

.completed{
    text-decoration:line-through ;
    #check-img{
        visibility: visible;
    }
}




#cross-img{
    margin:0 4%;
}


.lastitem{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    padding:3% 0;
    width:100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;   
    text-align: center;
}



.footer,
.footerlinks{
    display:inline;      
}

#noofitems{
    margin-left:3%;
}

#clearcompleted{
    margin:0 3%;
}

.grouped{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding:0 2%;
    .footerlinks{
        padding: 0 5%;
    }
}


#check-btn:hover,
#check-img:hover,
#cross-img:hover,
.grouped .footerlinks:hover,
#clearcompleted:hover,
#icon-sun-moon{
    cursor: pointer;
}


.footer{
    padding:10%;
}

.show{
    display:flex ;
}

.lightmode{
    $blue:hsl(220, 98%, 61%);
    .footeractive{
        color:$blue;
    }
}


}
