.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a43f49;
    z-index: 999999;
    }

.spinner {
    width: 40px;
    height: 40px;
    background-color: white;
  
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }



body{
    margin:0;
    padding:0;
    background-image:url("images/portfolio-bg.jpg");
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* display: none; */
}

.top{
    background-color: black;
}

#gallery-title{
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    margin:0;
    padding:100px 0 ;
    text-align: center;
}
.filter-button{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


.gallery-filter-button{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    background-color: #a81c51;
    color:white;
    border: none;
    outline:none;
    padding:15px;
    width:100px;
    margin: 10px;
    transition: all 1s ease;

}


.gallery-filter-button:hover ,.active{
    background-color: white;
    color:#a81c51;
}


.middle{
    padding:60px 0 60px 60px;
    transition: all 0.3s ;
    /* border:5x solid yellow; */
}

.grid-item{
    width:190px;
    border:15px solid #333;
    border-style:outset;
    padding-top:30px;
    padding-right:25px;
    padding-bottom:25px;
    padding-left:30px;

    background-color: white;
    margin:15px;
    box-shadow:5px 5px 5px black inset;
    }

    .drawing-img{
    max-width: 100%;
    height:auto;
    transform:scale(1);
    image-rendering:crisp-edges;
    transition: all 1s;
}

.drawing-img:hover{
    cursor:pointer;
    transform:scale(1.05);
}


.loadmore{
display: flex;
align-items: center;
justify-content: center;
}

.visible_item{
    display:none;
}